.top-box {
  background-image: url("../images/ol.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
}
#intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login {
  padding: 2%;
  display: flex;
  justify-content: flex-end;
}
#login button,
#intro button {
  border-color: white;
  color: white;
}
.btn{
  border-color: white;
  color: white;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover {
  background-color: white !important;
  color: #8bc2db !important;
  border-color: white;
}

.why-us {
  margin-top: 8%;
  padding-bottom: 30px;
}

.why-us .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.why-us .card-icon {
  text-align: center;
  margin-top: -32px;
}

.why-us .card-icon i {
  font-size: 32px;
  color: #fff;
  width: 64px;
  height: 64px;
  padding-top: 10px;
  text-align: center;
  background-color: #8bc2db;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  transition: 0.3s;
  display: inline-block;
}

.why-us .card-body {
  padding-top: 12px;
}

.why-us .card-title {
  font-weight: 700;
  text-align: center;
}

.why-us .card-title a {
  color: #743e1d;
}

.why-us .card-title a:hover {
  color: #8bc2db;
}

.why-us .card-text {
  color: #5e5e5e;
}

.why-us .card:hover .card-icon i {
  background: #fff;
  color: #8bc2db;
}

center a {
  background-color: #8bc2db !important ;
  border-color: #8bc2db !important;
}

footer {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 3rem !important;
}

/* signup */

#register-body {
  height: 100vh;
}

#social-signup {
  background-color: #2e334f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2% 0 2%;
}

#social-signup a, #social-login a{
  margin-top: 1rem;
}

#email-signup {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

#email-signup form{
  padding: 5% 10% 2% 10%;
}
#email-signup .title, #email-login .title {
  font-size: 3rem;
  text-align: center;
}

#email-signup, #email-login {
  padding-top: 3rem;
}

.field input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
}
#email-signup form button{
  margin-top: 2rem;
  background-color: #8bc2db;
  color: white;
}

/* login */

#social-login{
  padding: 2% 20% 2% 20%;
}
#login-body{
  padding: 2% 10% 2% 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #4b3a29; */
}
.horizontal{
  width: 50%;
  margin-left: 25% !important;
}
#email-login form{
  padding: 5% 20% 5% 20%;
}
#email-login form button {
  margin-top: 1rem;
  background-color: #8bc2db;
  color: white;
}
