body{
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 90vh;
    clear: both;
}
#nav-item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1%;
}
#center-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 26%;

}

#footer-items{
    position: fixed;
    bottom: 0;
}
#footer-items p{
    text-align: justify;
}